<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSCVRCWiz.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
    <userSettings>
        <OSCVRCWiz.Settings.Settings1>
            <setting name="yourKey" serializeAs="String">
                <value />
            </setting>
            <setting name="yourRegion" serializeAs="String">
                <value>eastus</value>
            </setting>
            <setting name="remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recognition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activationWord" serializeAs="String">
                <value>begin quoting me</value>
            </setting>
            <setting name="delayDebugValueSetting" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="profanityFilterSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logOrNotSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendOSCSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearTTSWindowSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwaysTopSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableTTSSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideDelaySetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hideDelayValue" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="wordsTranslateVRCSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="phraseListBoolSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="phraseListValue" serializeAs="String">
                <value>Jessie,Jakob,</value>
            </setting>
            <setting name="SyncParaValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SpeakerName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ConnectSpot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PKCERefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="PKCEAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="EmojiSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyOutputSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HRIntervalSetting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HRPortSetting" serializeAs="String">
                <value>4026</value>
            </setting>
            <setting name="BPMSpamSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voiceBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="styleBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="langToBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="langSpokenSetting" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="pitchSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="volumeSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="rateSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STTTSContinuous" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBuiltInSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuiltInVoiceSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuiltInOutputSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyPeriodicallySetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifySpamSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpotifyTimerIntervalSetting" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AudioCancelSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cultureInfoSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="bannerSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyLegacySetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SendVRCChatBoxSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChatBoxKeyboardSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeToolBarSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontSizeSetting" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="GreenScreenSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyCustomSetting" serializeAs="String">
                <value>{pause} {title} - {artist} </value>
            </setting>
            <setting name="VRCSoundNotifySetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SystemTraySetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playMediaSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VRCUseDelay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceLanguage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebcaptionerSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activateOSCStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="independentSpotifyText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rememberAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="rememberPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="saveUseAzure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveUseSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chatBoxSpotifyOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyNoUseKat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyNoUseChatbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chatBoxSpotifyOnly4VRC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="heartrateOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableMedia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ttsMode" serializeAs="String">
                <value>TikTok</value>
            </setting>
            <setting name="approvedSource" serializeAs="String">
                <value />
            </setting>
            <setting name="StopOnPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceCommandList" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveVoiceActStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STTModeSave" serializeAs="String">
                <value>Whisper</value>
            </setting>
            <setting name="modelnamesave" serializeAs="String">
                <value>no folder selected</value>
            </setting>
            <setting name="deepLKeysave" serializeAs="String">
                <value />
            </setting>
            <setting name="OSCAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="OSCPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="saveToast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="presetSave" serializeAs="String">
                <value />
            </setting>
            <setting name="discordParaSave" serializeAs="String">
                <value>/avatar/parameters/osc_discord_band</value>
            </setting>
            <setting name="discordTimerSave" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="replaceSave" serializeAs="String">
                <value />
            </setting>
            <setting name="wordReplaceBeforeTTS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emojiNewSave" serializeAs="String">
                <value />
            </setting>
            <setting name="hotketSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveAutoRefreshKat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="normalHotKey" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="modHotKey" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="yourAWSKey" serializeAs="String">
                <value />
            </setting>
            <setting name="yourAWSSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="yourAWSRegion" serializeAs="String">
                <value>us-east-1</value>
            </setting>
            <setting name="elevenLabsAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="whisperModel" serializeAs="String">
                <value>no model selected</value>
            </setting>
            <setting name="VRCListemOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VRCSpamLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VRCAFK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VRCPort" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="AFKMsg" serializeAs="String">
                <value>AFK for {time} minutes</value>
            </setting>
            <setting name="Counter1Para" serializeAs="String">
                <value>/avatar/parameters/Boop</value>
            </setting>
            <setting name="Counter2Para" serializeAs="String">
                <value>/avatar/parameters/HighFive</value>
            </setting>
            <setting name="Counter3Para" serializeAs="String">
                <value>/avatar/parameters/Bonk</value>
            </setting>
            <setting name="Counter4Para" serializeAs="String">
                <value>/avatar/parameters/Slap</value>
            </setting>
            <setting name="Counter1Msg" serializeAs="String">
                <value>Times Booped: {counter}</value>
            </setting>
            <setting name="Counter2Msg" serializeAs="String">
                <value>HighFive Counter: {counter}</value>
            </setting>
            <setting name="Counter3Msg" serializeAs="String">
                <value>Times Bonked: {counter}</value>
            </setting>
            <setting name="Counter4Msg" serializeAs="String">
                <value>Times Slapped: {counter}</value>
            </setting>
            <setting name="VRCOnRecieve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OBS4Media" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OBSTextFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Counter5Para" serializeAs="String">
                <value>/avatar/parameters/Something</value>
            </setting>
            <setting name="Counter6Para" serializeAs="String">
                <value>/avatar/parameters/AnothaOne</value>
            </setting>
            <setting name="Counter5Msg" serializeAs="String">
                <value>Counter: {counter}</value>
            </setting>
            <setting name="Counter6Msg" serializeAs="String">
                <value>Counter: {counter}</value>
            </setting>
            <setting name="SaveCounter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Counter1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Counter2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Counter3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Counter4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Counter5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Counter6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterNoiseWhisper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="modHotkeyStop" serializeAs="String">
                <value />
            </setting>
            <setting name="normalHotkeyStop" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsMediaDisable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeakerName2" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="pitchNew" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="volumeNew" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="speedNew" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="use2ndDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="forwardData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minDuration" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="maxDuration" serializeAs="String">
                <value>8.0</value>
            </setting>
            <setting name="dropStartSilence" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="pauseDuration" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="aprilFools2023" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="modelSelected" serializeAs="String">
                <value>ggml-tiny.bin (75 MB)</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="delayBeforeNewTTS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="delayAfterNoTTS" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="saveTxtFilePath" serializeAs="String">
                <value>no text file selected</value>
            </setting>
            <setting name="saveToggleReadTextFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveQueueSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueueWithTypedText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhisperFilterLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="modHotkeyQuick" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="normalHotkeyQuick" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="forceMediaToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shortcutStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutQuickType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="refocusWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voiceWizardProKey" serializeAs="String">
                <value />
            </setting>
            <setting name="useVoiceWizardPro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceWizProAzure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voiceWizProAmazon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voiceWizProMoonbase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceWizProTranslation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="uberDuckKey" serializeAs="String">
                <value />
            </setting>
            <setting name="uberDuckSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="labsModelID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="labsOptimize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="labsSimboost" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="labsStability" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="saveToWav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="charsUsed" serializeAs="String">
                <value>TTS Characters Used: 0/0</value>
            </setting>
            <setting name="transCharsUsed" serializeAs="String">
                <value>Translation Characters Used: 0/0</value>
            </setting>
        </OSCVRCWiz.Settings.Settings1>
        <Settings.Settings1>
            <setting name="yourKey" serializeAs="String">
                <value />
            </setting>
            <setting name="yourRegion" serializeAs="String">
                <value>eastus</value>
            </setting>
            <setting name="remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recognition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activationWord" serializeAs="String">
                <value>begin quoting me</value>
            </setting>
            <setting name="delayDebugValueSetting" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="profanityFilterSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logOrNotSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendOSCSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearTTSWindowSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwaysTopSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableTTSSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideDelaySetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hideDelayValue" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="wordsTranslateVRCSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="phraseListBoolSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="phraseListValue" serializeAs="String">
                <value>Jessie,Jakob,</value>
            </setting>
            <setting name="SyncParaValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SpeakerName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ConnectSpot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PKCERefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="PKCEAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="EmojiSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyOutputSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HRIntervalSetting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HRPortSetting" serializeAs="String">
                <value>4026</value>
            </setting>
            <setting name="BPMSpamSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voiceBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="styleBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="langToBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="langSpokenSetting" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="pitchSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="volumeSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="rateSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STTTSContinuous" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBuiltInSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuiltInVoiceSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuiltInOutputSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyPeriodicallySetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifySpamSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpotifyTimerIntervalSetting" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AudioCancelSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cultureInfoSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="bannerSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyLegacySetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SendVRCChatBoxSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChatBoxKeyboardSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeToolBarSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontSizeSetting" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="GreenScreenSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyCustomSetting" serializeAs="String">
                <value>{pause} {title} - {artist} </value>
            </setting>
            <setting name="VRCSoundNotifySetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemTraySetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playMediaSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VRCUseDelay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceLanguage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebcaptionerSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activateOSCStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="independentSpotifyText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rememberAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="rememberPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="saveUseAzure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveUseSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chatBoxSpotifyOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyNoUseKat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyNoUseChatbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chatBoxSpotifyOnly4VRC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="heartrateOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableMedia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ttsMode" serializeAs="String">
                <value>System Speech</value>
            </setting>
            <setting name="approvedSource" serializeAs="String">
                <value />
            </setting>
            <setting name="StopOnPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceCommandList" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveVoiceActStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STTModeSave" serializeAs="String">
                <value>System Speech</value>
            </setting>
            <setting name="modelnamesave" serializeAs="String">
                <value>no folder selected</value>
            </setting>
            <setting name="deepLKeysave" serializeAs="String">
                <value />
            </setting>
            <setting name="OSCAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="OSCPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="saveToast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="presetSave" serializeAs="String">
                <value />
            </setting>
            <setting name="discordParaSave" serializeAs="String">
                <value>/avatar/parameters/osc_discord_band</value>
            </setting>
            <setting name="discordTimerSave" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="replaceSave" serializeAs="String">
                <value />
            </setting>
            <setting name="wordReplaceBeforeTTS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emojiNewSave" serializeAs="String">
                <value />
            </setting>
            <setting name="hotketSave" serializeAs="String">
                <value>True</value>
            </setting>
        </Settings.Settings1>
    </userSettings>
</configuration>